html
{
    background: antiquewhite;
}

body
{
    font-family: "Lucida Calligraphy";
    font-size: 1em;
    line-height: 1.5em;
    color: saddlebrown;

}

header
{
    background-color: darkblue;
    padding: 0;
    margin: 0;
}

article
{
    padding-left: 20px;
    padding-right: 20px;
}

h2
{
    text-align: center;
    font-size: 4em;
}

.Announce
{
   float: right;
}

ul
{
    background: lightgray;
    list-style: none;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

li
{
    float: left;
}

li a
{
    display: inline-block;
    padding: 14px 16px;
    text-decoration: none;
    text-align: center;
}

li a:hover
{
   background: dodgerblue;
}

ul.bullets
{
    background: antiquewhite;
    list-style: disc;
    padding-left: 40px;
    padding-bottom: 10px;
}

.about1
{
    float: right;
    padding: 40px;
}

.index
{
    float: right;
}

