body
{
    font-family: lucida grande , Tahoma,Verdana,Arial,sans-serif;
    background-color: #e9e9e9;
}

body p
{
    font-size: 0.8em;
    line-height: 1.28;
}

#wrapper
{
    width: 1080px;
    background-color: white;
    margin: 0 auto;
    padding: 10px;
    border: 5px solid #dedede;

}

#banner
{
    border: 5px solid #dedede;
    height: 200px;
}

#content_area
{
    float: left;
    width: 750px;
    margin: 20px 0 20px 0;
    padding: 10px;
}

#sidebar
{
    float: right;
    width: 250px;
    height: 400px;
    margin: 20px 10px;
    border: 2px solid #E3E3E3;
}

footer{

}